altair
altgraph
argon2-cffi
astor
async-generator
attrs
auto-py-to-exe
backcall
base58
bleach
blinker
bottle
bottle-websocket
cachetools
certifi
cffi
chardet
click
colorama
debugpy
decorator
defusedxml
docx
Eel
entrypoints
et-xmlfile
fpdf
future
gevent
gevent-websocket
gitdb
GitPython
greenlet
idna
ipykernel
ipython
ipython-genutils
ipywidgets
jedi
Jinja2
jsonschema
jupyter-client
jupyter-core
jupyterlab-pygments
jupyterlab-widgets
lxml
MarkupSafe
matplotlib-inline
mistune
nbclient
nbconvert
nbformat
nest-asyncio
notebook
numpy
openpyxl
packaging
pandas
pandocfilters
parso
pefile
pickleshare
Pillow
plotly
prometheus-client
prompt-toolkit
protobuf
pyarrow
pycparser
pydeck
Pygments
pyinstaller
pyinstaller-hooks-contrib
pyparsing
pyrsistent
python-dateutil
python-utils
pytz
pywin32
pywin32-ctypes
pywinpty
pyzmq
requests
Send2Trash
simplejson
six
smmap
streamlit
streamlit-aggrid
tenacity
terminado
testpath
toml
toolz
tornado
traitlets
tzlocal
urllib3
validators
watchdog
wcwidth
webencodings
whichcraft
widgetsnbextension
zope.event
zope.interface
